:root {
    --primary-color: rgba(0,0,0,0.9);
    --second-color: #1769e0;
    --third-color: #3ddc84;
    --fourth-color: #f4fffd;

    --header-color: var(--primary-color);
    --background-color: var(--fourth-color);
    --footer-color: var(--primary-color);

    --button-color: var(--second-color);
    --text-color-black-contrast: #f2f2f2;
    --text-color-white-contrast: #151515;
    --text-color-button: #f2f2f2;
}