body {
    background-color: var(--background-color);
    font-family: 'Roboto', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    color: var(--text-color-white-contrast);
}

p, a {
    color: var(--text-color-white-contrast);
    font-size: 1.6rem;
}

a {
    text-decoration: none;
}

article {
    height: 100vh;
}

img {
    border: none;
}

button {
    outline: none;
    border-radius: 1rem;
    padding: 0.8rem;
    font-weight: 500;
    background-color: transparent;
    border: 2px solid var(--button-color);

    transition: all 0.3s;
}

button:hover {
    background-color: var(--button-color);
    color: var(--text-color-black-contrast);
    cursor: pointer;
    transform: scale(1.05);
}

.primary-button {
    outline: none;
    border-radius: 1rem;
    padding: 0.8rem;
    background-color: var(--button-color);
    border: 2px solid var(--button-color);
    color: var(--text-color-button);

    transition: all 0.3s;
}

input, textarea {
    outline: none;
    border: none;
    padding: 0.8rem 0;
    border-radius: 0.1rem;
    font-weight: 500;
}

.component-stroke {
    position: absolute;   /* sai do fluxo de grid */
    inset: 0;             /* top:0; right:0; bottom:0; left:0; */
    padding: .5rem;
    box-sizing: border-box;
    pointer-events: none; /* se não quiser que capture cliques */
    z-index: 10;   
}

.component-stroke .stroke {
    width: 100%;
    height: 100%;
    box-sizing: border-box;          /* importante! */
    border: 0.18rem solid rgba(255, 254, 231,0.5);
    border-radius: 0.1rem;
}