body {
    background-color: var(--primary-color);
    font-family: 'Roboto', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    color: var(--text-color);
}

p, a {
    color: var(--text-color);
    font-size: 1.6rem;
}

a {
    text-decoration: none;
}

article {
    height: 100vh;
}

button {
    outline: none;
    border: none;
    border-radius: 0.2rem;
    padding: 0.8rem;
    font-weight: 500;
    color: var(--text-color-button);
    background-color: transparent;
    border: 2px solid var(--third-color);

    transition: all 0.3s;
}

button:hover {
    background-color: var(--third-color);
  }

.primary-button {
    outline: none;
    border: none;
    border-radius: 0.2rem;
    padding: 0.8rem;
    background-color: var(--third-color);
    border: 2px solid var(--third-color);
    color: var(--text-color-button);

    transition: all 0.3s;
}

input, textarea {
    outline: none;
    border: none;
    padding: 0.8rem 0;
    border-radius: 0.1rem;
    font-weight: 500;
}

button:hover {
    cursor: pointer;
}