body {
    background-color: var(--background-color);
    font-family: 'Roboto', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    color: var(--text-color-white-contrast);
}

p, a {
    color: var(--text-color-white-contrast);
    font-size: 1.6rem;
}

a {
    text-decoration: none;
}

article {
    height: 100vh;
}

img {
    border: none;
}

button {
    outline: none;
    border: none;
    border-radius: 1rem;
    padding: 0.8rem;
    font-weight: 500;
    background-color: transparent;
    border: 2px solid var(--button-color);

    transition: all 0.3s;
}

button:hover {
    background-color: var(--button-color);
    color: var(--text-color-black-contrast);
    cursor: pointer;
    transform: scale(1.05);
}

.primary-button {
    outline: none;
    border-radius: 1rem;
    padding: 0.8rem;
    background-color: var(--button-color);
    border: 2px solid var(--button-color);
    color: var(--text-color-button);

    transition: all 0.3s;
}

input, textarea {
    outline: none;
    border: none;
    padding: 0.8rem 0;
    border-radius: 0.1rem;
    font-weight: 500;
}