body {
    display: flex;
    flex-direction: column;
}

main {
    padding-top: 6rem;     /* mesmo valor de .header height */
    width: 60%;
    max-width: 1440px;
    margin: auto;
}

@media (max-width: 1367px) {
    main {
        width: 70%;
    }
}

@media (max-width: 1174px) {
    main {
        width: 80%;
    }
}

@media (max-width: 1024px) {
    main {
        width: 85%;
    }
}

@media (max-width: 965px) {
    main {
        width: 90%;
    }
}
