.header {
    width: 100%;
    height: 6rem;
    background-color: #222;
}

.header-container {
    width: 90%;
    max-width: 980px;
    height: 100%;
    margin: auto;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.logo {
    font-size: 3rem;
    font-weight: 600;
}

.navbar {
    width: 50%;
    display: flex;
    justify-content: space-around;
}

.navbar a {
    flex: 1;
    
    font-size: 1.6rem;
    padding: 0.5rem;
    text-align: center;
    border-radius: 0.5rem;
    transition: 0.3s;
}

.navbar a:not(last-child) {
    margin-right: 0.5rem;
}

.navbar a:hover {
    filter: brightness(0.7);
}

@media (max-width: 1024px) {  
    .header-container {
        margin: 0 2rem 0 2rem;
    }
}

@media (max-width: 425px) {
    .header-container {
        text-align: center;
    }
    .logo-container {
        width: 100%;
    }

    .navbar {
        display: none;
    }
}