main {
    width: 70%;
    max-width: 1440px;
    margin: auto;
}

.contacts {
    width: 30%;
    margin: 6rem auto 3rem auto;

    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.contacts .item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.item p {
    color: #ccc;
}

.image-contact {
    width: 4.4rem;
    margin-bottom: 1rem;
}

@media (max-width: 1024px) {
    .contacts {
        width: 60%;
    }
}

@media (max-width: 935px) {
    main {
        width: 90%;
    }
}

@media (max-width: 425px) {
    main {
        width: 90%;
    }

    .contacts {
        width: 90%;
    }
}

@media (max-width: 320px) {
    .image-contact {
        width: 3.8rem;
    }
}