#about-me {
    width: 100%;
    height: 100vh;
    padding-top: 5rem;
    text-align: center;
}

#about-me #profile {
    width: 15rem;
    border-radius: 50%;
}

#about-me h2 {
    font-size: 2.8rem;
}

.section-about-me p {
    width: 90%;
    margin-top: 1rem;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 3rem;

    text-align: center;
    font-weight: 400;
    font-size: 1.8rem;
    line-height: 3.2rem;
}

#my-knowledge {
    width: 90%;
    margin-top: 4rem; 
}

@media (max-width: 935px) {
    .background-container {
        width: 100%;
    }

    .section-about-me p {
        width: 100%;
    }
}


@media (max-width: 591px) {
    .background-container {
        grid-template-columns: 1fr;
        grid-template-rows: auto auto;
        grid-template-areas: 
            "me"
            "img";
    }

    .background-container .image {
        justify-self: center;
    }

    .section-about-me p {
        width: 95%;
        line-height: 2.4rem;
    }
}

@media (max-width: 320px) {
    .presentation p {
        font-size: 3.5rem;
    }

    .background-container .image {
        width: 15rem;
    }
    .image-contact {
        width: 3.8rem;
    }
}
