.footer {
    position: relative;
    margin-top: 10rem;
    width: 100%;
    padding: 3rem 0 3rem 0;
    background-color: var(--footer-color);
}

.footer ul {
    padding:0;
    text-align:center;
    font-size:1.8rem;
    line-height:1.6;
    margin-bottom:0;
}

.footer li {
    padding:0 1rem;
}

.footer ul a {
    text-decoration:none;
    opacity:0.8;
    color: var(--text-color-black-contrast);
}

.footer ul a:hover {
    opacity:1;
}

.footer .social {
    text-align:center;
    padding-bottom:2.5rem;
}

.footer .social > a {
    font-size:2.4rem;
    width:4rem;
    height:4rem;
    line-height:4rem;
    display:inline-list-item;
    text-align:center;
    margin:0 .8rem;
    color:inherit;
    opacity:0.75;
}

.image-contact {
    width: 3.5rem;
    margin-bottom: 1rem;
}

.footer .social > a:hover {
    opacity:0.9;
}

.footer .copyright {
    margin-top:1.5rem;
    text-align:center;
    font-size:1.3rem;
    color:#aaa;
    margin-bottom:0;
}