.header {
  position: fixed;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
    width: 60%;
    max-width: 1440px;
  height: 6rem;
  background-color: rgba(0,0,0,0.9);
  z-index: 999;
}

.header-container {
    width: 90%;
    max-width: 980px;
    height: 100%;
    margin: auto;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.logo {
    font-size: 1.6rem;
    display: flex;
}

.logo h1 {
    color: var(--text-color-black-contrast);
}

.navbar {
    width: 50%;
    display: flex;
    justify-content: space-around;
}

.navbar a {
    flex: 1;
    font-size: 1.6rem;
    font-weight: normal;
    padding: 0.5rem;
    text-align: center;
    transition: 0.3s;
    color: var(--text-color-black-contrast);
    filter: brightness(0.7);
}

.navbar a.active {
    background-color: rgba(240,235,141,0.8);
    filter: brightness(1);
    font-weight: bold;
    color: #000;
}

.navbar a:not(last-child) {
    margin-right: 0.5rem;
}

.navbar a:hover {
    filter: brightness(1);
}

@media (max-width: 1024px) {  
    .header-container {
        margin: 0 2rem 0 2rem;
    }
}

@media (max-width: 580px) {
    .navbar {
        display: none;
    }
    .header-container {
        text-align: center;
    }
    .logo-container {
        width: 100%;
    }
}