#presentation-container {
    width: 100%;
}

.background-container {
    height: 50rem;
    margin: auto;
    
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-areas: "me img";
}

.background-container .image {
    grid-area: me;
    align-self: center;
    justify-self: end;
    
    width: 20rem;
}

.presentation {
    grid-area: img;  

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.presentation p {
    color: #fff;
    text-align: center;
    font-size: 4rem;
    font-weight: 700;
}

.presentation p strong {
    color: #828282;
    text-align: center;
    font-weight: 400;
    font-size: 1.8rem;
    line-height: 3.2rem;
}

.buttons {
    margin-top: 1rem;
}

#download-cv {
    margin-right: 0.5rem;
}
