#map-wrapper-container {
    width: 100%;
    height: 100vh;
    max-height: 10720px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    overflow: hidden;
    background-color: var(--second-color);
}

#map-wrapper-container-2 {
    width: 100%;
    height: 100%;
    position: relative;;
}

#map-wrapper-container-2 #map-wrapper-background {
    position: absolute;
    width: 100%;
    height: 100%;
    background-image: url('../images/icons/ic_quest_type_1.png');
    background-size: 3.2rem 3.2rem;
    background-repeat: space;
    background-position: center;
    filter: opacity(0.05);
}

#map-wrapper-container-2 #presentation-column-container {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#map-wrapper-container-2 .presentation-column {
    position: relative;
    overflow: hidden;
    height: 100%;
    width: 8rem;
    margin-right: 6rem;
    margin-left: 6rem;
}

#map-wrapper-container-2 .presentation-column .images {
  display: flex;
  flex-direction: column;
  animation: seamlessUp 16s linear infinite;
}

@keyframes seamlessUp {
  0%   { transform: translateY(0); }
  100% { transform: translateY(-100%); }
}

#map-wrapper-container-2 .presentation-column img {
    width: 8rem;
    height: 8rem;
}

#presentation-section {
    width: 100%;
    height: 100vh;
    max-height: 1024px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#presentation-article {
    position: relative;
    width: 100%;
    height: 60vh;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "about_me profile_image";
    background-color: rgba(0, 0, 0, 0.9);
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.5);
}


#presentation-article .image {
    grid-area: profile_image;
    margin: auto;
    align-self: center;
    clip-path: circle(45%);
    width: 35rem;
}

.presentation {
    grid-area: about_me;  
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.presentation #greeting-text {
    text-align: center;
    font-size: 4rem;
    font-weight: 500;
}

.presentation h2 {
    color: rgb(255, 254, 231);
}

.presentation p {
    color: #fffee7;
    text-align: center;
    font-weight: 400;
    font-size: 1.8rem;
    line-height: 3.2rem;
}

.contacts {
    width: 65%;
    margin-top: 2rem;

    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.contacts .item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.contacts .item .image-contact {
    width: 3.5rem;
    margin-bottom: 1rem;
}

.contacts .item .image-contact {
    width: 3.5rem;
    margin-bottom: 1rem;
}

@media (max-width: 1024px) {
    .contacts {
        width: 60%;
    }
}

@media (max-width: 735px) {
    #presentation-article {
        margin-top: 2rem;

        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
        grid-template-areas: "me" 
                             "img";
    }
}

@media (max-width: 425px) {
    .contacts {
        width: 90%;
    }
}