#presentation-container {
    width: 100%;

    height: 100vh;
    margin: auto;
    
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-areas: "me img";
}

#presentation-container .image {
    grid-area: me;
    align-self: center;
    justify-self: end;
    
    width: 30rem;
}

.presentation {
    grid-area: img;  

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.presentation p {
    color: var(--text-color);
    text-align: center;
    font-size: 4rem;
    font-weight: 500;
}

.presentation p strong {
    color: var(--text-color);
    text-align: center;
    font-weight: 400;
    font-size: 1.8rem;
    line-height: 3.2rem;
}

.buttons {
    margin-top: 1rem;
}

#download-cv {
    margin-right: 0.5rem;
}

.image-contact {
    width: 3.5rem;
    margin-bottom: 1rem;
}

.contacts {
    width: 50%;
    margin-top: 2rem;

    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.contacts .item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

@media (max-width: 1024px) {
    .contacts {
        width: 60%;
    }
}

@media (max-width: 425px) {
    .contacts {
        width: 90%;
    }
}