#projects-container {
    height: auto;
}

#projects-container > h2 {
    width: 100%;
    margin-bottom: 8rem;
    text-align: center;
    font-size: 2.8rem;
}

#project-content{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.project-item {
    height: 35rem;
    width: 30rem;
    margin: 1rem;
    padding: 1rem;
    overflow: hidden;
    border-radius: 1rem;
    background-color: var(--background-color);

    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.project-item img {
    width: 100%;
    height: 60%;
    background-color: #adc4cb;
}

.label-container {
    width: 100%;
    text-align: start;
}

.label-project {
    width: min-content;
    padding: .5rem;
    border-radius: 1rem;
    text-align: center;
    font-size: 1.5rem;
    background-color: rgba(100, 100, 100, 0.2);
}

.android {
    color: var(--button-color);
    font-weight: 500;
}

.game {
    color: #2a9d8f;
    font-weight: 500;
}

.project-item h2 {
    text-align: start;
    width: 100%;
    font-size: 3rem;
}

.project-item a {
    width: 100%;
}

.project-item button {
    width: 100%;
    font-weight: 600;
}

@media (max-width: 1024px) {
    #projects {
        width: 100%;
    }

    .project-item {
        margin: 0.5rem 0;
        margin-bottom: 10rem;
        padding: 1rem;
        text-align: center;
    }
}
@media (max-width: 540px) {
    .project-item .left {
        margin-right: 0;
    }

    .project-item .smartphone {
        display: none;
    }
}

@media (max-width: 540px) {
    .project-item .right {
        display: none;
    }
}